#embed-popup-wrap {
    display: none;
    width: 85%;
    margin: 0 auto;
}

.ead-popup-on #TB_overlay {
    z-index: 200000 !important;
}

.ead-popup-on #TB_window {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    z-index: 200001 !important;
}

.ead-popup-on .fw-modal .media-modal{
    z-index: 200001 !important;
}

.ead-popup-on #TB_ajaxContent {
    text-align: center;
}

.ead-popup-on #TB_ajaxContent:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle;
}

#embed-popup {
    position: relative;
    width: 99%;
    max-width: 1030px;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    text-align: left;
}

#embed-popup li::before {
    display: none;
}

.ead-popup-header {
    padding: 20px 30px;
}

.ead-popup-header h1 {
    margin: 0;
    line-height: 1.3;
}

.ead-section {
    padding: 0 30px;
    border-top: 1px solid #ebebeb;
}

.ead-action-panel {
    padding: 20px 30px;
    background: #f5f5f5;
    border-top: 1px solid #ebebeb;
}

ul.ead-options {
    padding: 30px 0;
    overflow: hidden;
    margin: 0px;
}

.ead-options li {
    float: left;
    width: 20%;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ead-options li a {
    display: block;
    text-decoration: none;
    color: rgb(33, 33, 33);
}

.ead-options li span {
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: block;
    padding: 44px 10px;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ead-options li span:hover {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    border-color: #ccc;
}

.ead-options li img {
    display: block;
    margin: 0 auto 10px;
    max-height: 50px;
}

.ead-options li span span.overlay {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
}

.ead-options .overlay strong {
    display: inline-block;
    max-width: 97%;
    vertical-align: middle;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ead-options li span:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.ead-options li:hover .overlay strong {
    opacity: 1;
}

.ead-options .overlay i {
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
}

.upload-success {
    min-height: 70px;
    overflow: hidden;
}

.upload-success .inner {
    padding: 30px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 20%;
}

.ead-url-box {
    display: none;
    padding: 20px;
    margin: 30px 0;
}

.addurl-box.ead-url-box {
    margin: 10px 0;
    padding: 20px 0;
}

a.go-back {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

.ead-url-box label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

.uploaded-doccument {
    padding: 75px 0 5px;
    color: #454545;
    font-size: 13px;
    word-wrap: break-word;
    text-align: center;
}

.uploaded-doccument.ead-link {
    background: url(../images/icon-link.png) no-repeat center 5px / 36px 49px;
}

.uploaded-doccument.ead-upload {
    background: url(../images/icon-upload.png) no-repeat center 5px / 54px 49px;
}

.uploaded-doccument.ead-dropbox {
    background: url(../images/icon-dropbox.png) no-repeat center 5px / 51px 49px;
}

.uploaded-doccument.ead-drive {
    background: url(../images/icon-drive.png) no-repeat center 5px / 48px 49px;
}

.uploaded-doccument.ead-box {
    background: url(../images/icon-box.png) no-repeat center 5px / 54px 49px;
}

.wp-core-ui .button#adv-options {
    float: right;
    height: 40px;
    line-height: 38px;
    font-size: 13px;
    padding: 0 20px;
}

.uploaded-doccument p {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 3px;
}

input.input-group-text {
    padding: 5px 8px;
    height: 40px;
    min-width: 88%;
}

.wp-core-ui .button-primary.input-group-btn {
    padding: 5px 10px;
    height: 40px;
}

.advanced-options {
    padding: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 80%;
    border-left: 1px solid #ebebeb;
}

.advanced-options h3 {
    margin-top: 0px
}

.advanced-options h3 span {
    color: #aaa;
    font-weight: normal;
}

.ead-popup-on .media-modal {
    z-index: 200003 !important;
}

.wp-core-ui .ead-btn.button-large {
    padding: 0 30px;
    height: 54px;
    line-height: 52px;
    font-size: 16px;
}

.wp-core-ui .ead-btn.button-medium {
    padding: 0 15px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.ead-popup-on .ead-close {
    position: absolute;
    right: 30px;
    top: 30px;
    font-weight: bold;
    background: url(../images/icon-close.png) !important;
    width: 22px;
    height: 22px;
    display: block;
    text-indent: -9999999px;
    border: none;
    cursor: pointer;
    opacity: 0.65;
    padding: 0;
}

.mfp-close:hover {
    opacity: 1;
}

.mfp-close .upload-success {
    display: none;
}

#embed-message {
    margin-top: 20px;
}

div.awsm-error,
div.awsm-updated {
    margin: 5px 0 2px;
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div.awsm-updated {
    background-color: #fff;
    border-color: #eee #eee #eee #7ad03a;
    padding: 1px 12px;
}

div.awsm-error {
    background: none repeat scroll 0 0 #fff;
    border-color: #eee #eee #eee #dd3d36;
    padding: 1px 12px;
}

div.awsm-error p,
div.awsm-updated p {
    margin: 0.5em 0;
    padding: 2px;
}

.hidden {
    display: none;
}

.mceActionPanel {
    margin: 0;
}

.option-fields {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0;
}

.option-fields li {
    padding-bottom: 15px;
    overflow: hidden;
    margin-bottom: 0;
}

.option-fields label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.option-fields li.checkbox input {
    float: left;
    margin: 2px 10px 0 0;
}

.option-fields li.checkbox label {
    float: left;
    margin: 0 0 0;
    font-weight: normal;
}

.f-left {
    float: left;
}

.option-fields .f-left {
    margin-right: 25px;
    max-width: 160px;
}

.option-fields .f-left input,
.option-fields .f-left select {
    margin-bottom: 10px;
}

.option-fields .f-left select {
    width: 100%;
}

#ead-download-text input {
    width: 100px;
}

.option-fields .f-left.last {
    margin: 0;
}

.clear {
    clear: both;
}

.input-small {
    width: 60px;
}

.ead-url-box .urlerror {
    border-color: #D95B5B;
    -webkit-box-shadow: 0 0 2px rgba(190, 30, 30, 0.8);
    box-shadow: 0 0 2px rgba(190, 30, 30, 0.8);
}

.picker-dialog {
    z-index: 20000091 !important;
}

.picker-dialog-bg {
    z-index: 20000090 !important;
}

.ead-popon #adminmenuwrap {
    z-index: 999 !important;
}

@media (max-width:915px) {
    .ead-options li {
        width: 33.33%;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .ead-popup-on #TB_window {
        background: #fff;
        -webkit-box-shadow: 0 2px 25px #000;
        -moz-box-shadow: 0 2px 25px #000;
        box-shadow: 0 2px 25px #000;
    }
    #embed-popup {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

@media (max-width:700px) {
    .ead-section {
        padding: 0;
    }
    .upload-success .inner {
        width: 100%;
    }
    .advanced_options {
        width: 100%;
        border-left: none;
        border-top: 1px solid #ebebeb;
    }
}

@media (max-width:600px) {
    .ead-options li {
        width: 50%;
    }
    #ead_downloadc select,
    #new_provider select {
        width: 100%;
    }
}

@media (max-width:440px) {
    .ead-options li {
        width: 100%;
    }
}
