.ead-loading-wrap{
    position: relative;
    height: 100%;
}
.ead-loading-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #E4EAF1;
    height: 100%;
    opacity: 0.5;
}
.ead-loading{
    text-align: center;
    width: 100%;
}
.ead-loading span{
    display: block;
    font-size: 14px;
    color: #74787D;
}
.ead-loading img {
    margin: 0 auto;
}
.ead-loading-foot{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 20px 53px;
    font-size: 14px;
    text-align: center;
}
.ead-loading-foot .ead-loading-foot-title{
    margin: 0 0 20px !important;
    color: #404347;
    font-size: 14px;
    font-weight: bold
}
.ead-loading-foot .ead-loading-foot-title span{
    display: block;
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 0;
}
.ead-loading-foot p{
    margin-bottom: 0;
    color: #1A1F2A;
}
.ead-loading-foot span{
    margin: 0 10px;
}
.ead-loading-foot .ead-document-btn {
    color: #1A1F2A;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}
.ead-loading-foot .ead-document-btn:active {
    opacity: 0.5;
}
.ead-loading-foot .ead-loading-foot-title img{
    margin: 0 auto;
}
.ead-loading-foot .ead-document-btn img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}