.tabs{
	display: none;
	background: #fff;
	padding: 10px 20px;
}
.tabs.visible{
	display: block;
}
.nav-tab-wrapper a{
	background: #fff;
	border: none;
}
.form-table{
	margin-top: 0;
	padding-top: 0.5em;
}
h2.nav-tab-wrapper{
 	border: none;
}