img {
    max-width: 100%;
    height: auto;
}
.clear {
    clear: both;
}
.f-left{
    float: left;
}
.fl-right{
    float: right;
}
.tabs {
    display: none;
    background: #fff;
    padding: 10px 20px 10px 35px;
}
.tabs.visible {
    display: block;
}
.nav-tab-wrapper a {
    background: none;
    border: none;
}
.nav-tab-wrapper a:hover{
	border: none;
}
.nav-tab-wrapper a.nav-tab-active {
    background: #fff;
}
.form-table {
    margin-top: 0;
    padding-top: 0.5em;
}
h2.nav-tab-wrapper {
    border: none;
    padding-left: 0;
}
h2.ead-title {
    background: url(../images/icon-ead.png) no-repeat 0 14px;
    padding-left: 46px;
    padding-bottom: 25px;
}
.ead-left-wrap {
    float: left;
    width: 100%;
    -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding-right:340px;
margin-right: -340px; 
}
.ead-right-wrap {
    float: right;
    max-width: 300px;
    background: #fff;
    padding-bottom: 15px;
    color: #372e2e;
}
.author-info {
    padding: 25px 15px;
    text-align: center;
}
.awsm-social {
    text-align: center;
    list-style-type: none;
    padding: 15px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
}
.awsm-social li {
    display: inline-block;
    margin: 0 6px;
}
.awsm-icon{ 
    background: url(../images/ead-icon-sprite.jpg) no-repeat;
    display: block;
    width: 21px;
    height: 21px;
    text-indent: -999999px;
    opacity: 0.46;
}
.awsm-icon:hover{
    opacity: 1;
}
.awsm-icon-facebook{
    
}
.awsm-icon-twitter{
    background-position: -26px 0;
}
.awsm-icon-github{
    background-position: -52px 0;
}
.awsm-icon-behance{
    background-position: -78px 0;
    width: 28px;
}
.awsm-icon-dribbble{
    background-position: right 0;
}
input.small {
    max-width: 120px;
}
.ead-frame-width{
    margin-right: 15px;
    margin-bottom: 10px;
}
.ead-frame-height{
    margin-bottom: 10px;
}
span.note {
    font-size: 12px;
    color: #ccc;
}

@media (max-width: 800px) {
    .ead-left-wrap {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        padding-right: 0;
        margin-right: 0;
   }
   .ead-right-wrap {
       float: none;
       width: 100%;
  }
}