.ead-block-content-wrapper {
	padding: 16px 5px;
}

.ead-block-content-wrapper p.embed_download {
	margin: 14px 0px 0px;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset{
	max-width: 100%;
	justify-content: flex-start;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-form-file-upload, div[data-type="embed-any-document/document"] .components-placeholder__fieldset > .components-button, div[data-type="embed-any-document/document"] .components-placeholder__fieldset .block-editor-media-placeholder__url-input-container {
	flex: 0 0 25%;
	margin-bottom: 3%;
	margin-right: 3%;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button {
	border: 1px solid #212121 !important;
	padding: 25px 10px 20px  !important;
	text-align: center;
	background: #fff !important;
	border-radius: 0  !important;
	color: #212121 !important;
	width: 100%;
	min-height: 140px;
	font-size: 0;
	display: block;
	transition: all 0.3s ease;
	position: relative;
	line-height: 0;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button span.overlay{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.7);
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 0.875rem;
}
div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button span.overlay span{
	opacity: 0;
	transition: all 0.3s ease;
	font-weight: bold;
}
div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button:hover span.overlay span{
	opacity: 1;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button:hover, div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button:focus {
	border-color: var(--wp-admin-theme-color) !important;
	box-shadow: 1px 1px 3px rgba(0,0,0,.1) !important;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button::before {
	content: "";
	width: 100%;
	height: 44px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	background-position: center;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button::after {
	content: "";
	display: block;
	font-size: 1rem;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button.ead-button-dropbox::before {
	background-image: url("../../images/icon-dropbox.svg");
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button.ead-button-dropbox::after {
	content: "Dropbox";
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button.ead-button-drive::before {
	background-image: url("../../images/icon-drive.svg");
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button.ead-button-drive::after {
	content: "Google Drive";
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button.ead-button-box::before {
	background-image: url("../../images/icon-box.svg");
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button.ead-button-box::after {
	content: "Box.com";
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button.ead-button-onedrive::before {
	background-image: url("../../images/icon-onedrive.svg");
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-button.ead-button-onedrive::after {
	content: "OneDrive";
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-form-file-upload .components-button {
	margin: 0 !important;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-form-file-upload .components-button::before {
	background-image: url("../../images/iconmonstr-upload-17.svg");
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-form-file-upload .components-button::after {
	content: "Upload";
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-form-file-upload + .components-button::before {
	background-image: url("../../images/admin-media.svg");
	background-size: 36px;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .components-form-file-upload + .components-button::after {
	content: "Media Library";
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .block-editor-media-placeholder__url-input-container .components-button {
	margin: 0 !important;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .block-editor-media-placeholder__url-input-container .components-button::before {
	background-image: url("../../images/iconmonstr-link-1.svg");
	    background-size: 28px;
}

div[data-type="embed-any-document/document"] .components-placeholder__fieldset .block-editor-media-placeholder__url-input-container .components-button::after {
	content: "URL";
}

button.components-button.btn-disabled span{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: rgba(255,255,255, 0.5);
}
button.components-button.btn-disabled:hover span::before{
	opacity: 1;
}

.components-form-toggle input.components-form-toggle__input[type=checkbox]:disabled ~ .components-form-toggle__track, .components-form-toggle input.components-form-toggle__input[type=checkbox]:disabled ~ .components-form-toggle__thumb {
	opacity: 0.5
}
